/*!
 *! _____ FORM inputs ________________________________ */

input, textarea, select {
    padding: 10px 10px 10px 0;
    color: #222;
}

textarea,
select,
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=time],
input[type=month],
input[type=week],
input[type=search],
.jq-selectbox__select {
    width: 100%;
    min-height: 49px;
    background: none;
    padding: 10px 20px;
    color: $color-title;
    font-family: $default-font;
    @include fontSize(15px);
    font-weight: 700;
}

input[placeholder] {
   text-overflow:ellipsis;
}

textarea {
    max-width: 100%;
    box-sizing: border-box;
}


input[type=search] {
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

//for iPhone
input, textarea {
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;

    outline: none;
}

/****************checkbox*******************/
input[type=checkbox] {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    padding: 0;
    -webkit-appearance: inherit;
    cursor: pointer;
}

.wrap-check {
    display: flex;
    flex-flow: wrap;
    align-items: center;

    .checkbox-wrap {
        position: relative;
        margin-right: 10px;

        input {
            min-height: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }

        .checkbox {
            width: 18px;
            height: 18px;
            cursor: pointer;
            margin: 0;
        }

        .checkbox-checked-base {
            position: relative;

            &:before {
                content: url("../img/tick.svg");
                width: 15px;
                height: 16px;
                position: absolute;
                bottom: 0;
                left: 1px;
            }
        }
    }

    label {
        cursor: pointer;
    }
}
/**************************************/


::-webkit-input-placeholder {
    color: #6e6e6e;
}

::-moz-placeholder {
    color: #6e6e6e
}

:-moz-placeholder {
    color: #6e6e6e
}
