//var font-family
$default-font: 'Open Sans', sans-serif;
$second-font: 'Raleway', sans-serif;

//var colors
$color-title: #383838;
$color-text: #787878;
$color-btn: #ffc7a8;
$color-main-bg: #9accc3
//$color-star: #f5a749;
//$color-border: #e8e8e8;
//$color-input: #6a6a6a;